# Project exclude paths
/node_modules/
/.vscode/
config.testing.json
config.production.json
voice-servers.production.json
voice-servers.testing.json
models/lhwb_schema.sql
LICENSE.txt
.eslintrc.json
config.json
.gitignore
log
voice-servers.json
.idea/LHWB-Bot.iml
.idea/dataSources.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/vcs.xml
.idea/sqldialects.xml
web/config.php
web/favicon.ico
web/includes/images/android-icon-144x144.png
web/includes/images/android-icon-192x192.png
web/includes/images/android-icon-36x36.png
web/includes/images/android-icon-48x48.png
web/includes/images/android-icon-72x72.png
web/includes/images/android-icon-96x96.png
web/includes/images/apple-icon-114x114.png
web/includes/images/apple-icon-120x120.png
web/includes/images/apple-icon-144x144.png
web/includes/images/apple-icon-152x152.png
web/includes/images/apple-icon-180x180.png
web/includes/images/apple-icon-57x57.png
web/includes/images/apple-icon-60x60.png
web/includes/images/apple-icon-72x72.png
web/includes/images/apple-icon-76x76.png
web/includes/images/apple-icon-precomposed.png
web/includes/images/apple-icon.png
web/includes/images/browserconfig.xml
web/includes/images/favicon-16x16.png
web/includes/images/favicon-32x32.png
web/includes/images/favicon-96x96.png
web/includes/images/favicon.ico
web/includes/images/manifest.json
web/includes/images/ms-icon-144x144.png
web/includes/images/ms-icon-150x150.png
web/includes/images/ms-icon-310x310.png
web/includes/images/ms-icon-70x70.png
web/sg.png
web/TaylorSwiftHandwriting.ttf
web/ts.png
web/rTSWTNY.gif
web/SwiftiesWTNY.gif
web/ts.png.midnights
web/ts.png.old
web/ts.png.speaknow
